<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PlantBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css" >

</style>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<body>

    <h1>PlantBook</h1>
<form action="#" th:action="@{/uploadPage}" method="post" th:object="${post}">
    <div class = "Picture">
        <label> Insert Photo</label>
        <input type ="text" th:field="*{PhotoUrl}" required >
    </div>
    <br>
    <div class = "Name">
        <label>Enter your name:</label>
        <input type = "text" th:field="*{NameOfUser}">
    </div>
    <br>
    <div class = "PlantName">
        <label>Enter the plant's name:</label>
        <input type = "text" th:field="*{PlantName}">
    </div>
    <br>
    <div class = "plantType">
        <label> Enter Plant Type: </label>
        <input type="text" th:field="*{Species}" placeholder ="cactus"  required>
    </div>
    <br>
    <div class = "Age">
        <label>Enter Plant Age: </label>
        <input type="number" th:field="*{Age}" >
    </div>
    <br>
    <div class = "Caption">
        <label> Caption: </label>
        <textarea th:field="*{Caption}" rows="2" cols="25"></textarea>
    </div>
    <br>
    <div class = "lifeStatus">
        <select th:field="*{Status}" required>
        <option selected value=""> Plant Life Status </option>
        <option th:value="alive"  th:text="Alive"/>
        <option th:value="watered"  th:text="Watered"/>
        <option th:value="dead" th:text="Dead" />
        </select>
    </div>
    <br>
    <div class ="submit">
        <button class="submitButton" type="submit">Upload Post</button>
    </div>

</form>
</body>
</html>